#outerIframe {
	position: absolute;
	width: 480px;
	height: 640px;
	display: none;
}
#datamonitor {
    border: 1px solid black;
    float: right;
    height: 300px;
    position: relative;
    width: 600px;
    word-wrap: break-word;
}

#collapsable {
	float: left;
	margin-left: 5px;
	
}