
BODY {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(65, 123, 134);
    background-image: url(images/iPhone_background.png);
    background-size: cover;
    font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
    font-size: 14px;
}

DIV.op-centered {
    text-align: center;
}

DIV#op-logo {
    display: none;
}

DIV#op-spinner {
    background-image: url(images/spinner.gif);
    background-size: cover;
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-top: 100px;
}

DIV.op-error {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #681414;
    border: 1px solid #3B0A0A;
    color: #E7D1D1;
    font-weight: bold;
    white-space: nowrap;
    font-size: 16px;
}

.op-hidden {
    display: none !important;
}

DIV[id^="op-"][id$="-view"] {
    text-align: center;
}

DIV.op-view {
    display: inline-block;
    width: 250px;
    text-align: center;
}

DIV.op-view LABEL {
    display: block;
    text-align: left;
    color: #FFFFFF;
    width: 250px;
}
DIV.op-view INPUT {
    border: 0px;
    border-radius: 4px;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    display: inline-block;
}
DIV.op-view DIV.op-fieldset {
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

DIV.op-view DIV.op-fieldset > DIV.op-fieldset-actions {
    width: 80px;
    display: inline-block;
    float: right;
    position: absolute;
    right: 0px;
    top: 45px;
}

DIV.op-view BUTTON {
    background-image: url(images/buttonbg2.png);
    background-repeat: repeat-x;
    border: 0px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    font-weight: bold;
}

DIV.op-headerlink {
    text-align: right;
    padding-right: 10px;
}
A.op-headerlink {
    font-size: 18px;
    color: #FFFFFF;
}

A.op-buttonlink {
    margin-left: 10px;
    font-size: 18px;
    color: #FFFFFF;
}


#op-federated-login-view {
    margin-top: 70px;
    margin-bottom: 20px;
}

#op-federated-login-view DIV.op-fieldset {
    display: inline-block;
}

#op-federated-signup-view {
    margin-top: 40px;
    margin-bottom: 20px;
}
#op-social-facebook-view {
    text-align: center;
}
#op-social-facebook-button {
    margin-top: 50px;
    border: 0px;
    padding: 0px;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
}

#op-social-facebook-button > IMG {
    width: 200px;
}
